<div class="row mars-component">

    <div class="input-group mb-3 mars-component dynamic-rover-div">
        <h2 class="white-style">Page {{ currentPage }} out of {{ numOfPages }}</h2>
        <div>
            <h4 class="white-style">Rover:</h4>
            <select id="rover" (click)="changeRover()">
                <option value="curiosity">Curiosity</option>
                <option value="opportunity">Opportunity</option>
                <option value="spirit">Spirit</option>
            </select>
        </div>
    </div>

    <nav class="input-group justify-content-center">
        <ul class="pagination">
            <li class="page-item"><a type="submit" class="page-link" (click)="previousPage()">Previous Page</a></li>
            <li class="page-item"><a type="submit" class="page-link" (click)="nextPage()">Next Page</a></li>
            <li>
                <select id="pageList" (click)="changePageManually()" class="form-control-sm p-20">
                    <option *ngFor="let numPage of generatePageList()" value="{{ numPage }}">{{ numPage }}</option>
                </select>
            </li>
        </ul>
    </nav>

    <div *ngFor="let pic of currentPics" class="col-2 pic-padding">
        <div class="container">
            <img class="img-style" src="{{ pic['img_src'] }}">
            <div class="overlay">
                <div class="text">
                    <h6>{{ pic["camera"]["name"] }}</h6>
                    <h6>{{ pic["camera"]["full_name"] }}</h6>
                    <h6>{{ pic["rover"]["landing_date"] }}</h6>
                </div>
            </div>
        </div>
    </div>
</div>