

<div class="row margin-component">
    <div *ngFor="let pic of pics" class="col-2 pic-padding">
        <div class="container">
            <img class="img-style" src="{{ pic['img_src'] }}" (mouseover)="cenas(pic)">
            <div class="overlay">
                <div class="text">
                    <h5>{{ pic["camera"]["name"] }}</h5>
                    <h5>{{ pic["camera"]["full_name"] }}</h5>
                    <h5>{{ pic["rover"]["landing_date"] }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>



